Repository beyond-sw-camp/be08-3rd-PotatoSpot-DAZZLE, pull requests merged in 2024-08, with the labels that each got.

#2 [chore/#1] Git Convention
  .github/.gitmessage.txt
  .github/ISSUE_TEMPLATE/design-report.md
  .github/ISSUE_TEMPLATE/error-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/refactor-report.md
  .github/ISSUE_TEMPLATE/setting-report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Chore

#4 [feat/#3] KakaoMap API 연동
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/components/map/KakaoMap.vue
Labels: Feat, Frontend

#6 [feat/#5] 지도 중심 변경 - 클릭한 위치로 지도 중심 이동
  frontend/src/App.vue
  frontend/src/components/map/KakaoMap.vue
  frontend/src/service/api.js
Labels: Feat, Frontend

#8 [feat/ #7] Marker 표시 및 Click Listener
  frontend/src/App.vue
  frontend/src/components/map/KakaoMap.vue
  frontend/src/components/map/marker-handler.js
Labels: Feat, Frontend

#10 [feat/#9] Overlay 팝업 구현
  frontend/src/App.vue
  frontend/src/components/map/KakaoMap.vue
  frontend/src/components/map/overlay/index.js
  frontend/src/service/api.js
Labels: Feat, Frontend

#14 [feat/#13] 키워드로 장소 검색 기능 추가
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/components/map/KakaoMap.vue
Labels: Feat, Frontend

#16 [feat/#15] SideBar cilck event
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/slideMenu/SlideMenu.vue
  frontend/src/main.js
  frontend/src/store/index.js
  frontend/src/store/ui.js
  frontend/yarn.lock
Labels: Feat, Frontend

#19 [rafactor/#17] 간단한 수정
  frontend/src/App.vue
  frontend/src/components/map/KakaoMap.vue
  frontend/src/components/slideMenu/SlideMenu.vue
Labels: Refactor, Frontend

#21 [feat/#20] Marker Cluster 생성
  frontend/public/index.html
  frontend/src/App.vue
Labels: Feat, Frontend

#27 [feat/#26] 검색한 위치 마커 생성
  frontend/src/components/slideMenu/SlideMenu.vue
  frontend/src/views/LandingPages/Map/MapView.vue
Labels: Feat, Frontend

#31 [feat/#28] Cluster, NavBar
  frontend/src/views/LandingPages/Map/MapView.vue
Labels: Feat, Frontend

#35 [refactor/#34] 컴포넌트 분리 못함
  frontend/src/views/LandingPages/Map/MapView.vue
Labels: Feat, Refactor

#37 [feat/#36] Kakao Map API 사용자 컨트롤 기능 추가
  frontend/src/views/LandingPages/Map/MapView.vue
Labels: Feat, Frontend

#39 [feat/#38] 랭킹리스트 구현
  frontend/src/components/RankingList.vue
  frontend/src/views/Presentation/Sections/PresentationExample.vue
Labels: Feat, Frontend

#41 [design/#40] 메인 썸네일 페이지 제작 및 firebase 연동
  frontend/src/components/Thumbnails.vue
  frontend/src/views/Presentation/PresentationView.vue
Labels: Frontend, Design

#53 [design/#52]썸네일 보더 수정 및 랭킹 컴포넌트 위치 수정
  frontend/src/components/Thumbnails.vue
  frontend/src/views/Presentation/PresentationView.vue
  frontend/src/views/Presentation/Sections/PresentationExample.vue
Labels: Feat, Frontend

#55 Feat/#54/marker detail
  frontend/src/components/DetailsMarkerModal.vue
  frontend/src/components/DetailsSpotModal.vue
  frontend/src/utils/utilsDb.js
Labels: Feat, Frontend

#59 [feat/#58] 유저 정보 수정 기능 구현, 유저 프로필 사진 기능 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DetailsMarkerModal.vue
  frontend/src/components/EditModal.vue
  frontend/src/components/ReviewModal.vue
  frontend/src/components/sign/SignUpModal.vue
  frontend/src/stores/userStore.js
  frontend/src/utils/utilsAuth.js
  frontend/src/views/LandingPages/MyPage/MyPageView.vue
  frontend/src/views/LandingPages/MyPage/Sections/MyPageBestPosts.vue
  frontend/src/views/LandingPages/MyPage/Sections/MyPagePosts.vue
  frontend/src/views/LandingPages/MyPage/Sections/MyPageProfile.vue
Labels: Feat, Frontend

#61 [feat/#60] 썸네일 클릭시 상세보기 페이지연결 & << >> arrows 로 변경
  frontend/index.html
  frontend/src/components/Thumbnails.vue
Labels: Feat, Frontend

#63 [design/#62] 회원가입, 회원수정, 상세보기, 포토스팟 등록, 네비게이션바, marker디테일 디자인 수정
  frontend/src/components/DetailsMarkerModal.vue
  frontend/src/components/DetailsSpotModal.vue
  frontend/src/components/EditModal.vue
  frontend/src/components/PostModal.vue
  frontend/src/components/sign/LoginModal.vue
  frontend/src/components/sign/SignUpModal.vue
  frontend/src/examples/navbars/NavbarDefault.vue
  frontend/src/router/index.js
  frontend/src/views/LandingPages/MyPage/MyPageView.vue
  frontend/src/views/LandingPages/MyPage/Sections/MyPageBestPosts.vue
  frontend/src/views/LandingPages/MyPage/Sections/MyPagePosts.vue
  frontend/src/views/LandingPages/MyPage/Sections/MyPageProfile.vue
Labels: Frontend, Design

#67 [feat/#66] 마이페이지 포토스팟 카드 상세보기 기능 구현, 회원 수정 기능 구현
  frontend/src/views/LandingPages/MyPage/MyPageView.vue
  frontend/src/views/LandingPages/MyPage/Sections/MyPageBestPosts.vue
  frontend/src/views/LandingPages/MyPage/Sections/MyPagePosts.vue
  frontend/src/views/LandingPages/MyPage/Sections/MyPageProfile.vue
  frontend/src/views/LandingPages/MyPage/components/RotatingCardBack.vue
Labels: Feat, Frontend

#69 [design/#68] modal 디자인 수정
  frontend/src/components/DetailsMarkerModal.vue
  frontend/src/components/DetailsSpotModal.vue
  frontend/src/components/EditModal.vue
  frontend/src/components/PostModal.vue
  frontend/src/components/sign/LoginModal.vue
  frontend/src/components/sign/SignUpModal.vue
  frontend/src/stores/userStore.js
  frontend/src/utils/utilsAuth.js
  frontend/src/views/LandingPages/Map/MapView.vue
Labels: Frontend, Design

#73 feat: mypage
  frontend/src/examples/Anker.vue
  frontend/src/views/Presentation/PresentationView.vue
  frontend/src/views/Presentation/Sections/PresentationCounter.vue
Labels: Frontend, Design

#77 [feat/#76] main page menubar 추가
  frontend/src/views/Presentation/PresentationView.vue
Labels: Feat, Frontend

#82 [feat/#81] 메인페이지 포토스팟 통계 추가, 사용자 허용범위 수정
  frontend/src/components/DetailsMarkerModal.vue
  frontend/src/components/DetailsSpotModal.vue
  frontend/src/components/RankingList.vue
  frontend/src/stores/photoSpotStore.js
  frontend/src/views/Presentation/Sections/PresentationCounter.vue
Labels: Feat, Frontend

#84 [feat/#83] 회원가입 시 가입 유저 데이터 갱신되도록 기능 수정
  frontend/src/components/sign/SignUpModal.vue
Labels: Feat, Frontend
